@model IEnumerable<RubyAdmin.Models.UserCard>
@{
    ViewBag.Title = "Все карты пользователей";
}

<h2>Все карты пользователей</h2>
<a asp-action="IndexProperty" class="btn btn-sm btn-primary">Недвижимости</a>
<a asp-action="IndexTypeProperty" class="btn btn-sm btn-primary">Вид недвижимости</a>
<a asp-action="IndexUser" class="btn btn-sm btn-primary">Пользователи</a>
<a asp-action="IndexUserCard" class="btn btn-sm btn-primary">Карты пользователей</a>
<a asp-action="IndexEmployee" class="btn btn-sm btn-primary">Сотрудники</a>
<a asp-action="IndexCurrentPosition" class="btn btn-sm btn-primary">Занимающие должности</a>
<a asp-action="IndexStructureOfUserProperty" class="btn btn-sm btn-primary">Составы недвижимостей</a>
<a asp-action="IndexStructureOfEmployee" class="btn btn-sm btn-primary">Составы сотрудников</a>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CardNumber</td>
            <td>@item.CardHolder</td>
            <td>@item.Validity</td>
            <td>@item.UserId</td>
            <td>
                <a asp-action="CreateUserCard" asp-controller="Home">Добавить</a>
                <a asp-action="EditUserCard" asp-controller="Home" asp-route-id="@item.IdUserCard">Изменить</a> |
                <a asp-action="DeleteUserCard" asp-controller="Home" asp-route-id="@item.IdUserCard">Удалить</a>
            </td>
        </tr>
    }
</table>
